<div class="page">
  <form
    class="form"
    autocomplete="off">

    <h1>Log In</h1>

    <div class="inputs">
      <h3 class="input-content">E-Mail: </h3>
      <input class="input-content" type="email" placeholder="name@gmail.com">

      <h3 class="input-content">Password: </h3>
      <input class="password input-content" [type]="type" placeholder="Digit your password">

      <svg (click)="togglePasswordView()" #eyeopened xmlns="http://www.w3.org/2000/svg" class="eye input-content invisible icon icon-tabler icon-tabler-eye" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
        <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
      </svg>

      <svg (click)="togglePasswordView()" #eyeclosed xmlns="http://www.w3.org/2000/svg" class="eye input-content icon icon-tabler icon-tabler-eye-closed" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M21 9c-2.4 2.667 -5.4 4 -9 4c-3.6 0 -6.6 -1.333 -9 -4" />
        <path d="M3 15l2.5 -3.8" />
        <path d="M21 14.976l-2.492 -3.776" />
        <path d="M9 17l.5 -4" />
        <path d="M15 17l-.5 -4" />
      </svg>
    </div>

    <button
      class="log-in"
      type="submit">
      Log In
    </button>

    <p class="question">You don't have an account?</p>

    <a
      class="register"
      href="register">
      Create an account here
    </a>
  </form>
</div>
